a {
    color: #03a2c3;
}

.container {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

.margin-top-20 {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #03a2c3;
    height: 50px;
    width: 195px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="text"] {
    height: 50px;
    width: 250px;
}

input[type="submit"]:hover {
    opacity: .8;
}

input[disabled] {
    opacity: .45;
    cursor: not-allowed;
}

input[readonly] {
    cursor: not-allowed;
}

input[disabled]:hover {
    opacity: .45;
}

.source {
    text-align: left !important;
}

.bg-blue {
    background-color: blue !important;
}